body {
  width: 100vw;
  background-image: url(../img/aditya-joshi-wG923J9naFQ-unsplash.jpg);
  background-attachment: fixed;
  background-size: cover;
}

h1 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 100px;
}